@use '../../styles/variables' as *;

.field {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.label {
  color: #6b7280;
}

.input {
  width: 100%;
  padding: 10px 12px;

  border-radius: 6px;
  border: 1px solid transparent;
  background-color: #f4f6fc;

  font-family: 'Geometria', sans-serif;
  font-size: 14px;

  transition:
    border-color 0.5s,
    background-color 0.5s;

  &:hover {
    border-color: $color-primary;
  }

  &:focus {
    outline: none;
    border-color: 1px solid #2563eb;
    background-color: #ffffff;
  }

  &:disabled {
    background-color: #f3f4f6;
    cursor: not-allowed;
  }
}

.errorInput {
  border-color: #ef4444;
}

.errorText {
  color: #ef4444;
}
