@use './variables' as *;

@mixin typography(
  $size,
  $weight,
  $line-height,
  $letter-spacing: 0
) {
  font-family: 'Geometria', sans-serif;
  font-size: $size;
  font-weight: $weight;
  line-height: $line-height;
  letter-spacing: $letter-spacing;
}

@mixin mobile {
  @media (max-width: #{$tablet-min - 1}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: $tablet-min) and (max-width: #{$desktop-min - 1}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $desktop-min) {
    @content;
  }
}
