$mobile-min: 320px;
$tablet-min: 640px;
$desktop-min: 1200px;

$grid-gutter: 16px;

$container-desktop: 1200px;

$color-primary: #363c5c;
$color-secondary: #c7d5e5;
$color-secondary-primary: #d7e2ef;
$color-accent: #936397;
$color-white: #ffffff;