@use '../../styles/mixins' as *;

.methodsGrid {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

  gap: 16px;
  margin-top: 16px;

  @include tablet {
    flex-direction: row;
  }

  @include desktop {
    flex-direction: row;
  }
}