@use '../../styles/mixins' as *;
@use '../../styles/variables' as *;

.emptyState {
  max-width: $container-desktop;
  margin-inline: auto;
  padding-inline: 24px;
  margin-bottom: 48px;
  z-index: 0;

  animation: fadeSlideIn 0.5s ease forwards;
}

@keyframes fadeSlideIn {
  from {
    opacity: 0;
    transform: translateY(16px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.emptyWrapper {
  text-align: center;
  padding: 24px;
  border-radius: 24px;
  border: 1px solid $color-secondary-primary;
  margin-top: 0;
  color: $color-secondary;
}
