@use '../../styles/grid';
@use '../../styles/mixins' as *;
@use '../../styles/variables' as *;

.section {
  width: 100%;
}

.container {
  max-width: $container-desktop;
  margin-inline: auto;
  padding-inline: 24px;
}

.title {
  text-align: center;
  margin: 48px 0 30px;
}

.switchWrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 32px;
}

.grid {
  @extend .grid;
  margin-top: 48px;
}

.left,
.right {
  grid-column: span 4;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.left {
  @include tablet {
    grid-column: 1 / 6;
  }

  @include desktop {
    grid-column: 1/ 10;
  }
}

.right {
  @include tablet {
    grid-column: 7 / -1;
  }

  @include desktop {
    grid-column: 15/ -1;
  }
}

.row2 {
  display: grid;
  gap: 16px;

  grid-template-columns: 1fr;

  @include desktop {
    grid-template-columns: 1fr 1fr;
  }
}

.inputWrap {
  position: relative;
}

.logoButton {
  position: absolute;
  top: 0;
  right: 0;

  background: none;
  border: none;
  padding: 0;

  color: #b4cce3;
  font-size: 14px;
  cursor: pointer;

  transition: color 0.4s ease;

  @include desktop {
    right: -100px;
    top: 35px;
  }

  &:hover {
    color: #0f4ac1;
  }
}

.comingSoon {
  text-align: center;
}